---
import Layout from '/src/layouts/Layout.astro';
import SecTitle from '/src/components/SecTitle.astro';
---

<Layout title="お問い合わせいただきありがとうございました">
  <section>
    <SecTitle>Thank you!!</SecTitle>
    <p>
      メッセージをお送りいただきありがとうございます！
      ご返信が必要なものに関しては後ほどお送りいたします。
      今しばらくお待ち下さい。
    </p>
    <a href="/">Topに戻る</a>
  </section>
</Layout>

<style>
  p {
    line-height: 1.5;
  }
</style>
