---
import Layout from '../layouts/Layout.astro';
import SecTitle from '../components/SecTitle.astro';
---

<Layout title="404 | お探しのページが見つかりませんでした">
  <section>
    <SecTitle>お探しのページが見つかりませんでした。</SecTitle>
    <p>
      お探しのページは見つかりませんでした。<br />URL が正しいかご確認ください。
    </p>
  </section>
</Layout>

<style>
  p {
    line-height: 1.5;
  }
</style>
