---
import GridItems from '../components/GridItems.astro';
import Layout from '/src/layouts/Layout.astro';

export async function getStaticPaths() {
  const allPosts = await Astro.glob('/src/pages/**/*.mdx');
  const uniqueTags: any = [
    ...new Set(allPosts.map((item) => item.frontmatter.tags).flat()),
  ];

  return uniqueTags.map((tag: any) => {
    const contents = allPosts
      .filter((post) => post.frontmatter.tags.includes(tag))
      .sort(
        (a, b) =>
          new Date(b.frontmatter.date).getTime() -
          new Date(a.frontmatter.date).getTime()
      );
    return {
      params: { tag },
      props: { posts: contents },
    };
  });
}

const { tag } = Astro.params;
const contents = Astro.props.posts;
---

<Layout title={`${tag}の一覧`}>
  <section>
    <h1>{tag}についての記事</h1>
    <GridItems contents={contents} />
  </section>
</Layout>

<style>
  section {
    display: grid;
    gap: 1rem;
  }
</style>
