---
import GridItems from '../components/GridItems.astro';
import Layout from '/src/layouts/Layout.astro';

interface Frontmatter {
  date: string;
  frontmatter: {
    tags: string[];
    title: string; // 他に必要なプロパティがあれば追加
    date: string;
  };
}

export async function getStaticPaths() {
  const allPosts = Object.values(
    import.meta.glob<Frontmatter>('/src/pages/**/*.mdx', { eager: true })
  );

  const uniqueTags = [
    ...new Set(allPosts.map((item) => item.frontmatter.tags).flat()),
  ];

  return uniqueTags.map((tag) => {
    const contents = allPosts
      .filter((post) => post.frontmatter.tags.includes(tag))
      .sort(
        (a, b) =>
          new Date(b.frontmatter.date).getTime() -
          new Date(a.frontmatter.date).getTime()
      );
    return {
      params: { tag },
      props: { posts: contents },
    };
  });
}

const { tag } = Astro.params;
const contents = Astro.props.posts;
---

<Layout title={`${tag}の一覧`}>
  <section>
    <h1>{tag}についての記事</h1>
    <GridItems contents={contents} />
  </section>
</Layout>

<style>
  section {
    display: grid;
    gap: 1rem;
  }
</style>
