---
import Layout from '/src/layouts/Layout.astro';
import FirstSec from '/src/components/FirstSec.astro';
import CodingTags from '/src/components/tags/CodingTags.astro';
import DesignTags from '/src/components/tags/DesignTags.astro';
import BlogTags from '/src/components/tags/BlogTags.astro';
import SecTitle from '/src/components/SecTitle.astro';
import Skill from '/src/components/Skill.astro';
---

<Layout title="トップページ">
  <FirstSec />
  <section id="tags">
    <CodingTags title="coding" url="/work/coding/" />
    <hr />
    <DesignTags title="design" url="/work/design/" />
    <hr />
    <BlogTags title="blog" url="/blog/" />
  </section>
  <section>
    <SecTitle>私にできること</SecTitle>
    <Skill />
  </section>
</Layout>

<style>
  body {
    /* countの設定 */
    counter-increment: number 0;
  }
  /* タグのスタイリング */
  #tags {
    display: grid;
    grid-template-columns: 1fr min-content 1fr min-content 1fr;

    .tag-wrap {
      display: grid;
      grid-template-rows: repeat(2, min-content);
      gap: var(--gap);
      flex: 1;
      padding-inline: 2rem;

      h3 {
        font-size: 1.5rem;
        text-transform: capitalize;
        font-weight: 600;
        &::before {
          counter-increment: number 1;
          content: counter(number) '.';
        }
      }
      ul {
        display: flex;
        flex-wrap: wrap;
        gap: var(--gap);

        li {
          a {
            display: inline-block;
            inline-size: fit-content;
            font-size: 0.875rem;
            font-weight: 400;
            padding: 0.5rem 1rem;
            border: 1px solid #333;
            border-radius: 999px;
            transition:
              color 0.3s,
              background 0.3s;

            &:hover,
            &:focus {
              background: #333;
              text-decoration: none;
              color: #fff;
            }
          }
        }
      }
    }
  }

  @media (max-width: 960px) {
    #tags {
      grid-template-columns: 1fr;
      gap: var(--gap);

      hr {
        width: 100%;
      }

      .tag-wrap {
        padding-inline: 1rem;
      }
    }
  }
</style>
