---
// mdファイルを読み込むための型定義
interface Frontmatter {
  title: string;
  description?: string;
  tags: string;
}

// titleやurlを取得
const { title, url } = Astro.props;

// mdファイルを取得
const items = await Astro.glob<Frontmatter>('../pages/work/coding/*.md');

// タグを取得
const tags = [...new Set(items.map((item) => item.frontmatter.tags).flat())];
---

<h3><a href={url}>{title}</a></h3>
<!-- タグの表示 -->
<ul>
  {
    tags.map((tag) => (
      <li>
        <a href={`/${tag}`}>{tag}</a>
      </li>
    ))
  }
</ul>
