---
const comment =
  'ただコーヒーが好きなだけのエンジニアです。Web制作やデザイン、コーヒー豆の焙煎や抽出方法についての情報を発信しています。キービジュアルを作るのが苦手で…考え途中です。';
import { Image } from 'astro:assets';
---

<section>
  <h2>
    制作者コメント：<br />
    {comment}
  </h2>
  <div class="image-wrap"></div>
</section>

<style>
  h2 {
    line-height: 1.5;
  }
</style>
