---
const workItems = [
  {
    title: 'coding',
    href: '/',
    image: '/images/coding.jpg',
  },
  {
    title: 'coding',
    href: '/',
    image: '/images/coding.jpg',
  },
  {
    title: 'coding',
    href: '/',
    image: '/images/coding.jpg',
  },
  {
    title: 'coding',
    href: '/',
    image: '/images/coding.jpg',
  },
];
---

<section class="first-grid">
  <div class="grid-top">
    {
      workItems.map((item, index) => (
        <a
          href={item.href}
          class="g_item"
          style={{ gridArea: `item${index + 1}` }}
        >
          <h3 class="g_item-title">{item.title}</h3>
        </a>
      ))
    }
  </div>
  <div class="grid-bottom">
    <div class="g_item"><h3>current time</h3></div>
    <div class="g_item"><h3>about</h3></div>
  </div>
</section>

<style>
  .first-grid {
    width: stretch;
    /* 画面幅 - (ヘッダー高さ(padding＋h1) + main余白)) */
    height: calc(100vh - 7.25rem);
    display: grid;
    grid-template-rows: 2fr 1fr;
    gap: 14px;
  }
  .grid-top {
    width: 100%;
    display: grid;
    gap: 14px;
    grid-template-areas:
      'item1 item2 item3'
      'item1 item2 item4';
  }
  .grid-bottom {
    display: grid;
    gap: 14px;
    grid-template-columns: repeat(2, 1fr);
  }
  .g_item {
    display: block;
    padding: 1.5rem;
    border-radius: 0.875rem;
    background: #ccc;
  }
</style>
