---
const description =
  'コーヒーが好きなただのフロントエンドエンジニアです。このWebサイトでは私の日常生活や今まで制作してきた作品を公開しています。制作事例では作品について、ブログでは趣味や技術について話しています。';
const comment =
  '3月で現在通っている専門学校を卒業し、4月からフロントエンドエンジニアとして活動していく予定です。';
---

<section>
  <img class="logo" src="/image/hi.svg" alt="" />
  <p>{description}{comment}</p>
</section>

<style>
  .logo {
    width: 100%;
    pointer-events: none;
    margin-bottom: 1rem;
  }
  p {
    line-height: 1.5;
  }
</style>
