---
const workItems = [
  {
    title: 'coding',
    href: '/work/coding',
    image: '/images/coding.jpg',
  },
  {
    title: 'design',
    href: '/work/design',
    image: '/images/coding.jpg',
  },
  {
    title: 'coffee',
    href: '/hobby/coffee',
    image: '/images/coding.jpg',
  },
  {
    title: 'blog',
    href: '/blog',
    image: '/images/coding.jpg',
  },
];
---

<section class="first-grid">
  <div class="grid-top">
    {
      workItems.map((item, index) => (
        <a
          href={item.href}
          class="g_item"
          style={{ gridArea: `item${index + 1}` }}
        >
          <h3 class="g_item-title">{item.title}</h3>
        </a>
      ))
    }
  </div>
  <div class="grid-bottom">
    <a class="g_item" href="/"><h3 class="g_item-title">current time</h3></a>
    <a class="g_item" href="/"><h3 class="g_item-title">about</h3></a>
  </div>
</section>

<style>
  .first-grid {
    width: stretch;
    /* 画面幅 - (ヘッダー高さ(padding＋h1) + main余白)) */
    height: calc(100vh - 7.25rem);
    display: grid;
    grid-template-rows: 2fr 1fr;
    gap: var(--gap);
  }
  .grid-top {
    width: 100%;
    display: grid;
    gap: var(--gap);
    grid-template-areas:
      'item1 item2 item3'
      'item1 item2 item4';
  }
  .grid-bottom {
    display: grid;
    gap: var(--gap);
    grid-template-columns: repeat(2, 1fr);
  }
  .g_item {
    display: block;
    padding: 1.5rem;
    border-radius: 0.875rem;
    background: #ccc;
  }
  .g_item-title {
    font-size: 1.5rem;
    font-weight: 600;
    text-transform: capitalize;
  }
</style>
