<footer>
  <div class="wrap">
    <small>
      <p>&copy; 2025 junya03.com</p>
    </small>
  </div>
</footer>

<style>
  footer {
    width: 100%;
    margin-top: auto;
    .wrap {
      width: auto;
      margin-inline: 2.5rem;
      padding-block: 0.875rem;
      border-top: 1px solid #dfdfdf;
    }
    p {
      font-size: 0.75rem;
      color: var(--text-black);
      text-align: center;
      line-height: 1.5;
    }
  }
</style>
