---
const list = [
  { href: '/', en: 'home', ja: 'ホーム' },
  { href: '/blog', en: 'blog', ja: 'ブログ' },
  { href: '/work', en: 'work', ja: '制作物' },
  { href: '/contact', en: 'contact', ja: 'お問い合わせ' },
];
---

<header>
  <h1>Hi, I'm Junya03!</h1>
  <nav>
    <button class='burger' aria-label='ハンバーガーメニュー'>
      <span></span>
      <span></span>
      <span></span>
    </button>
    <ul>
      {
        list.map((item) => (
          <li>
            <a href={item.href}>
              <p>{item.en}</p>
              <p>{item.ja}</p>
            </a>
          </li>
        ))
      }
    </ul>
  </nav>
</header>

<style>
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 2.5rem;
    padding-block: 0.875rem;

    background: #fff;

    /* トップで固定 */
    position: sticky;
    top: 0;
    z-index: 999;

    border-bottom: 1px solid #dfdfdf;

    font-weight: 900;

    @media (max-width: 768px) {
      padding-inline: 1rem;
    }
  }
  h1 {
    font-size: 1.5rem;
  }

  nav {
    button {
      display: none;
      @media (max-width: 768px) {
        display: block;
      }
    }
    .burger {
      aspect-ratio: 1/1;
      width: 40px;
      position: relative;
      transition: rotate 0.5s;
      span {
        display: block;
        width: 28px;
        height: 2px;
        position: absolute;
        background: var(--text-black);
        border-radius: 999px;
        left: 75%;
        transition:
          background 0.5s,
          rotate 0.5s,
          top 0.5s;
        rotate: 0;
        &:nth-child(1) {
          top: 30%;
          translate: -50% -50%;
        }
        &:nth-child(2) {
          top: 50%;
          translate: -50% -50%;
        }
        &:nth-child(3) {
          top: 70%;
          translate: -50% -50%;
        }
      }
      &.active {
        span {
          top: 50%;
          &:nth-child(1) {
            rotate: 45deg;
          }
          &:nth-child(2) {
            background: #0000;
          }
          &:nth-child(3) {
            rotate: -45deg;
          }
        }
        & ~ .header-list {
          translate: 0 0;
        }
        & ~ .bg {
          background: color-mix(in srgb, #000 50%, #0000);
          pointer-events: auto;
          backdrop-filter: blur(1px);
        }
      }
    }
  }

  ul {
    display: flex;
    gap: 1rem;

    @media (max-width: 768px) {
      position: absolute;
      width: 300px;
      justify-content: center;
      top: 75%;
      left: 50%;
      translate: -50% 60%;
      border: 1px solid color-mix(in srgb, #dfdfdf 75%, #0000);
      border-radius: 0.5rem;
      padding: 1rem;

      background: color-mix(in srgb, #efefef 90%, #0000);
      backdrop-filter: blur(2px);

      opacity: 0;
      pointer-events: none;
      transition:
        translate 0.5s,
        opacity 0.5s;

      &.active {
        opacity: 1;
        pointer-events: auto;
        translate: -50% 50%;
      }
    }
  }
  li a {
    display: grid;
    p {
      text-align: center;
      font-size: 0.875rem;
      line-height: 1.5;
      text-transform: capitalize;
      & + p {
        font-size: 0.75rem;
      }
    }
  }
</style>

<script>
  const burger = document.querySelector('.burger');
  const list = document.querySelector('ul');

  const menuToggle = () => {
    burger?.classList.toggle('active');
    list?.classList.toggle('active');
  };

  burger?.addEventListener('click', () => {
    menuToggle();
  });
</script>
