---
import Layout from '/src/layouts/Layout.astro';
import GridItems from '/src/components/GridItems.astro';

interface Frontmatter {
  title: string;
  description?: string;
  tags: string[];
  date: string;
  image: string;
}

const contents = Object.values(
  import.meta.glob<Frontmatter>('/src/pages/work/**/*.mdx', { eager: true })
).sort(
  (a, b) =>
    new Date(b.frontmatter.date).getTime() -
    new Date(a.frontmatter.date).getTime()
);

const title = '制作物一覧';
---

<Layout title={title}>
  <section>
    <h2>{title}</h2>
    <GridItems contents={contents} />
  </section>
</Layout>

<style>
  section {
    display: grid;
    gap: 1rem;
  }

  .tag {
    padding-right: 0.5rem;
    &::before {
      content: '#';
    }
  }
</style>
