---
import '/src/assets/css/reset.css';
import '/src/assets/css/font.css';

import Header from '/src/components/Header.astro';
import Footer from '/src/components/Footer.astro';
const { title } = Astro.props;
---

<!doctype html>
<html lang='ja'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width' />

    <link
      rel='icon'
      type='image/png'
      href='/favicon/favicon-96x96.png'
      sizes='96x96'
    />
    <link rel='icon' type='image/svg+xml' href='/favicon/favicon.svg' />
    <link rel='shortcut icon' href='/favicon/favicon.ico' />
    <link
      rel='apple-touch-icon'
      sizes='180x180'
      href='/favicon/apple-touch-icon.png'
    />
    <meta name='apple-mobile-web-app-title' content='junya03.com' />
    <link rel='manifest' href='/favicon/site.webmanifest' />

    <meta
      name='description'
      content='コーヒーを愛するフロントエンドエンジニアとして、日常生活やこれまでの制作物を紹介しています。制作事例では作品の詳細を、ブログでは趣味や技術に関する記事を掲載しています。'
    />
    <title>Junya03 | {title}</title>
  </head>
  <body>
    <Header />
    <main>
      <slot />
    </main>
    <Footer />
    <script type='module' src='/src/assets/js/lenis.js'></script>
  </body>
</html>

<style is:global>
  :root {
    --sm-width: 428px;
    --lg-width: 960px;

    --gap: 0.75rem;

    --text-black: #333;
  }

  html {
    font-family: 'LINESeedJP_OTF', sans-serif;
    font-weight: 600;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.04;
    box-sizing: border-box;
    scroll-behavior: smooth;

    /* background: #efefef; */
  }

  body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  img {
    object-fit: cover;
  }
  main {
    padding-block: 1.5rem;
    display: grid;
    gap: 3.75rem;
  }

  a {
    text-decoration: none;
    color: inherit;
    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }

  section {
    width: auto;
    padding-inline: 2.5rem;
    position: relative;

    @media (max-width: 768px) {
      padding-inline: 1rem;
    }
  }

  button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0;
    appearance: none;
  }
</style>
