---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
---

<!doctype html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <!-- 後にファビコンを変更 -->
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="stylesheet" href="/src/assets/css/reset.css" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro Basics</title>
  </head>
  <Header />
  <body>
    <slot />
  </body>
  <Footer />
</html>

<style></style>
