---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
---

<!doctype html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <!-- 後にファビコンを変更 -->
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="stylesheet" href="/src/assets/css/reset.css" />
    <link rel="stylesheet" href="/src/assets/css/font.css" />
    <title>Astro Basics</title>
  </head>
  <body>
    <Header />
    <slot />
    <Footer />
  </body>
</html>

<style is:global>
  html {
    font-family: 'LINESeedJP_OTF', sans-serif;
    font-weight: 600;
    font-style: normal;
    line-height: 1.5;
    box-sizing: border-box;
    scroll-behavior: smooth;

    background: #efefef;
  }

  body {
    min-height: 200vh;
  }

  a {
    text-decoration: none;
    color: inherit;
    &:hover {
      text-decoration: underline;
    }
  }

  section {
    padding-inline: 2.5rem;
  }
</style>
